* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Escoredream','Malgun Gothic','맑은고딕',sans-serif;
}

body {
  background: #f5f7fb;
  color: #222;
}

a {
  text-decoration: none;
}

.container {

  margin: auto;
  width: 60%;
}

/* Header */
.header {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  padding: 5px 0;
  color: white;
  position:fixed;
  width:100%;
  top: 0;
  z-index:10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  width: 40%;
}

.logo a img {
  width: 100%;
}

.menu a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* Hero */
.hero {
  background: url('/images/office.png') left/cover;
  height: 550px;
  position: relative;
}

.overlay {
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 72px;
}

.hero-content {
  color: white;
}

.hero h1 {
  font-size: 48px;
  font-weight: 800;
}

.hero h1 span {
  color: #ffc311;
}

.hero p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

/* Calculator */
.calculator {
  background: white;
  margin-top: 40px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
  color: #222;
  width: 60%;
  position: absolute;
}

.calc-row {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.calc-row select {
  min-width: 0;
}

.calculator select {
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-weight: bold;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
}

.calculator button {
  width: 100%;
  padding: 15px;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
}

.calc-popup {
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.calc-area {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 15px;
  padding: 20px 0 20px 0;
  background: rgb(255 255 255 / 50%);
}

.calc-result {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.1em 0.5em;
  margin: 0 auto;
  text-align: right;
  font-size: clamp(24px, 1.6vw, 40px);
}

.calc-label{
  font-size: clamp(24px, 1.6vw, 40px);
}

.calc-value{
  font-size: clamp(24px, 1.6vw, 40px);
  text-align: left;
  color: goldenrod;
}

.calc-comment{
  margin-top:10px;
  font-weight: bold;
  color: red;
  font-size: clamp(24px, 1.6vw, 40px);
}

.calc-result span:after{
  content: ':'
}

.splide-area {
  margin-bottom:25px;
}

#main-carousel {

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 15px;
  margin-bottom: 10px;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: none !important;
}

/* Features */
.features {
  background: white;
  padding: 80px 0 50px 0;
}

.feature h4 {
  color: #1e3c72;
  font-size: clamp(15px, 1.2vw, 21px);
}

.feature p {
  font-size: clamp(13px, 1.0vw, 17px);
  font-weight: bold;
}

.features p:first-child {
  margin-top: 10px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
}

.feature .icon {
  /*font-size: 40px;*/
  /*margin-bottom: 20px;*/
}

/* Consult */
.consult {
  padding: 50px 0;
}

.consult-box {
  background: #fff;
  padding: 60px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.form {
  display: flex;
  gap: 20px;
  margin: 30px 0;
}

.form input,
.form select {
  flex: 1;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.consult-btn {
  padding: 15px 40px;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
}

/* Footer */
.footer {
  background: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
  padding: 40px 0;
  text-align: center;
}

.footer-inner div {
  margin: 10px 0;
}

/* Floating Chat */
.chat-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: black;
  color: white;
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

/* =====================
   📱 반응형
===================== */

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }

  .calculator {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .calc-row,
  .form {
    flex-direction: column;
  }
}

@media (max-width: 600px) {

  .hero {
    height: auto;
    padding: 70px 0 240px 0;
  }

  .features {
    padding: 60px 0 30px 0
  }

  .hero h1 {
    font-size: 32px;
  }

  .calculator button {
    font-size: 16px;
  }

  .consult-box {
    padding: 30px;
  }

}

@media (min-width: 601px) {
  .overlay .hero-content:first-child {
    margin-top: 100px;
  }

  .calculator {
    margin-top: 70px;
  }

  .calculator select {
    font-size: 18px;
  }
}

@media (min-width: 1201px) {
  .form input {
    width:33.3%;
  }
}
